.ContactData {
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 3px #eee;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 10px;
    display: block;
}

@media(min-width: 600) {
    .ContactData{
        width: 500px;
    }
}